body {background-color: yellow;}


table, tr, th {
	border: 2px solid black;
	border-collapse: collapse;
	margin-left:auto; 
    margin-right:auto;
}

.title {
	text-align: center;
	font-weight: bold;
	font-family: Arial, Geneva;
}
	
.subTitle {
	text-align: left;
	font-weight: bold;
	font-family: Calibri;
}

.generalText {
	font-family: Calibri;
	text-align: left;
}

.subHeading {
	font-family: Arial, Geneva;
	font-size: 18;
	font-weight: bold;
	text-align: center;
	color: gray;
}

.lakeImg {
	width: 500px;
	height: 500px;
	padding: 3px;
}


.amsterdam {
	font-weight: bold;
	font-family: Calibri;
	position: relative;
	top: 800px;
	left:-300px;
}

.pic1 {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 400px;
  padding: 10px;
}
	
.pic2 {
  position: absolute;
  right: 0px;
  top: 450px;
  width: 400px;
  padding: 10px;
}
	

.amsterdamPic {
	position: absolute;
	top: 900px;
	left: 0px;
	height: 500px;
}
	