body {background-color: yellow;}

.title {
	text-align: center;
	font-weight: bold;
	font-family: Arial, Geneva;
}

.subTitle {
	text-align: left;
	font-weight: bold;
	font-family: Calibri;
}

.generalText {
	font-family: Calibri;
	text-align: left;
}

.subHeading {
	font-family: Arial, Geneva;
	font-size: 18;
	font-weight: bold;
	text-align: center;
	color: gray;
}

.travelImg {
	width: 500px;
	height: 500px;
	image-orientation: from-image;
	margin-bottom: 10px
}